* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: NotoMono Nerd Font, sans-serif;
    font-size: 14px;
    min-height: 0;
    color: #eceff4;
}

window#waybar {
    opacity: 0.8;
    background-color: #2e3440;
    transition-property: background-color;
    transition-duration: .5s;
    border-top: 1px solid #8c738c;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 5px 8px;
    border: 1px solid #2e3440;
    border-top: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.focused {
    border: 1px solid #8c738c;
    border-top: none;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #94545d;
}

#mode {
    background-color: #64727D;
}

#clock,
#disk,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
}

#window,
#workspaces {
    margin: 0 4px;
}

#battery.charging {
    background-color: #809575;
}

@keyframes blink {
    to {
        background-color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
