{:aliases {:jet {:extra-deps {borkdude/jet {:mvn/version "0.0.12"}}, :main-opts ["-m" "jet.main"]},
           :new {:exec-args {:template "app"},
                 :exec-fn clj-new/create,
                 :extra-deps {com.github.seancorfield/clj-new {:mvn/version "1.1.297"}}}}}
