* {
    border-radius: 0;
    font-family: "FiraMono Nerd Font", sans-serif;
    font-size: 12px;
    min-height: 0;
    color: @fg;
}

window {
    background-color: @bg;
    border-top: 1px solid @bgThree;
}

#workspaces {
  border-top: 1px solid @bgThree;
}

#workspaces button {
    padding: 5px 8px;
    border: 1px solid @bg;
    border-top: none;
    min-width: 30px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.current_output.visible:not(.focused) {
    background-color: @bgTwo;
}

#workspaces button.current_output.visible.focused {
    border: 1px solid @bgThree;
    border-top: none;
    padding: 5px 8px;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @bgOne;
    padding: 0 10px;
}

#tray {
    padding: 0 10px;
}

#idle_inhibitor,
#battery,
#backlight,
#cpu,
#network,
#custom-rebuild,
#clock,
#custom-pomo,
#disk,
#memory,
#temperature,
#wireplumber,
#mpd
{
    padding: 0 10px;
    margin: 0;
}

#custom-wlsunset,
#bluetooth,
#custom-swayidle
{
    padding: 0 10px 0 0;
}

#window,
#workspaces {
    margin: 0 0px;
}
