* {
    /* border: none; */
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FiraMono Nerd Font", sans-serif;
    font-size: 12px;
    min-height: 0;
    color: #eceff4;
}

window {
    background-color: @barBackground;
    border-top: 1px solid @border;
}

#workspaces {
  border-top: 1px solid @border;
}

#workspaces button {
    padding: 5px 8px;
    border-top: none;
    min-width: 30px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    border: 1px solid @border;
    /* border-top: 1px solid @border; */
    border-top: none;
    padding: 5px 8px;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: @warning;
}

#mode {
    background-color: @modeBackground;
}

#idle_inhibitor,
#battery,
#bluetooth,
#backlight,
#cpu,
#network,
#custom-rebuild,
#clock,
#custom-pomo,
#custom-media,
#tray,
#mode,
#disk,
#memory,
#temperature,
#pulseaudio,
#mpd {
    padding-right: 14px;
    padding-left: 6px;
    margin: 0;
}

#window,
#workspaces {
    margin: 0 0px;
}

#battery.charging {
    background-color: @charging;
}

@keyframes blink {
    to {
        background-color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: @warning;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
